.container {
  text-align: center;
}

h1 {
  font-family: "Trebuchet MS", sans-serif;
  color: green;
  font-size: 48px;
  text-align: center;
  line-height: 1.2;
  margin: 10px 0 0;
}

.return-button {
  font-family: "Trebuchet MS", sans-serif;
  display: block;
  margin: 5px auto;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  cursor: pointer;
}

.return-button:hover {
  background-color: #0056b3;
  text-decoration: none;
}

