<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ORACLE Scheduling</title>
        <link href="static/pdfupload.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
          <div class="title">
            <h1>ORACLE</h1>
          </div>
        </div>
        <div class="inner_container">
            <div class="calendar">
              <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&title=Operation%20Room%20Utilization&mode=WEEK&src=Y19jZjJhYjIxOWQ5OTk3MzZiMmNlZWRmMDg2OThiMzExMWU3ZGM2YzE3ODUwOGQ3YjAyODE0NDE0NGQwMzEyMDFjQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y18zZDRiM2Q2NmUwMzhhNGNkNjUwMTllN2FmNjk1MTVhYTA3Mjk3ZmRkNWI2ZWE2ZDExODViYmE4NjM5ZDM0ZjE1QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y184OTQxOWJkMWZmZmM5NDE5ZjRlYTY2ZTdjNDY0NTBmMWQ0MGEzNDcwNmNjYWYwOWNmNWFiYjdlNDdjZjM1MGI1QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23D81B60&color=%23A79B8E&color=%23009688" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="forms">
              <form method="POST" enctype="multipart/form-data">
                <label for="or">Operating Room:<span class="required">*</span></label>
                <select name="or" id="or" required>
                  <option value="" disabled selected>OR #</option>
                  <option value="OR 1">OR 1</option>
                  <option value="OR 2">OR 2</option>
                  <option value="OR 3">OR 3</option>
                </select>
                <label for="pdf">Upload PDF:<span class="required">*</span></label>
                <input type="file" name="pdf" id="pdf" accept=".pdf">
                <input type="submit" value="Schedule" id=submitButton>
              </forms>
              <div id="results">
                  {% if result %}
                  {% endif %}
              </div>
            </div>
        </div>

      </body>
      </html>
</html>
